---
import { REFERENCES } from "@/constants";
import { getAnchorLinkAndBlock } from "../../../lib/blog-helpers.ts";
import { RichText } from "../../../lib/interfaces.ts";
import NPagePopover from "@/components/blog/references/NPagePopover.astro";
import NBlocksPopover from "@/components/blog/references/NBlocksPopover.astro";

export interface Props {
	richText: RichText;
	blockID?: string;
}

const { richText } = Astro.props;
const {hreflink, blocklinked, conditionmatch, post} = await getAnchorLinkAndBlock(richText);
---

{
  hreflink && REFERENCES && REFERENCES["popovers"] && conditionmatch && ["block_current_or_other_page", "other_page"].includes(conditionmatch) && post && post.Title ? (
    conditionmatch === "block_current_or_other_page" ? (
      <NBlocksPopover block={blocklinked} linkedTo={hreflink} popoverSpanText={""} popoverTitle={post.Title}><slot /></NBlocksPopover>
    ) : (
      <NPagePopover linkedTo={hreflink} popoverSpanText={""} popoverTitle={post.Title} postId={post.PageId} excerpt={post.Excerpt}><slot /></NPagePopover>
    )
  ) : hreflink ? (
  <a href={hreflink} class="text-link webtrotion-page-link decoration-solid" target="_blank" rel="noopener noreferrer">      <slot />
    </a>
  ) : (
    <slot />
  )
}
