---
import createMetascraper from "metascraper";
import metascraperDescription from "metascraper-description";
import metascraperImage from "metascraper-image";
import metascraperTitle from "metascraper-title";
import * as interfaces from "../../../lib/interfaces.ts";
import Caption from "../Caption.astro";

export interface Props {
	block: interfaces.Block;
	urlMap: { [key: string]: string };
  setId?:boolean;
}

const { block, urlMap, setId=true } = Astro.props;

const urlString = (block.Bookmark || block.LinkPreview || block.Embed).Url;
const metascraper = createMetascraper([
	metascraperDescription(),
	metascraperImage(),
	metascraperTitle(),
]);

let url: URL;
let metadata: Record<string, string>;
try {
	url = new URL(urlString);
	const html = urlMap[urlString];
	if (html) {
		metadata = await metascraper({ html, url });
	}
} catch (err) {
	console.log(err);
}
---

<div class="bookmark pb-2" id={setId?block.Id:undefined}>
	{
		url && (
			<div class="flex w-full max-w-full overflow-hidden text-sm">
				<a
					href={url.toString()}
					target="_blank"
					rel="noopener noreferrer"
					class="w-full flex max-w-full select-none overflow-hidden rounded border border-gray-200 no-underline dark:border-gray-800 min-w-0 grow items-stretch	"
				>
					<div class="flex-bookmark-text overflow-hidden p-3 text-left text-textColor/90">
						<div class="truncate mb-0.5 h-6 overflow-hidden whitespace-nowrap text-base leading-5">
							{metadata && metadata.title}
						</div>
						<div class="h-8 overflow-hidden text-xs leading-4 opacity-80">
							{metadata && metadata.description}
						</div>
						<div class="mt-1.5 flex max-w-full">
							<div class="min-w-4 mr-1.5 h-4 w-4">
								<img
									class="inline-block max-w-full"
                  loading="lazy"
									src={`https://www.google.com/s2/favicons?domain=${url.hostname}`}
									alt="title"
									decoding="async"
								/>
							</div>
							<div class="overflow-hidden truncate whitespace-nowrap text-xs leading-4">
								{url.origin}
							</div>
						</div>
					</div>

						{metadata && metadata.image && (
              <div class="flex-bookmark-image hidden sm:block relative">
							<img
								class="!absolute h-full w-full object-contain object-right"
                loading="lazy"
								src={metadata.image}
								alt="title"
								decoding="async"
							/>
            </div>
						)}

				</a>
			</div>
		)
	}
	<Caption richTexts={(block.Bookmark || block.LinkPreview || block.Embed).Caption} block={block} />
</div>

<style>
	.flex-bookmark-image {
		flex: 1 1 180px;
	}
  .flex-bookmark-text {
		flex: 4 1 180px;
	}
</style>
