---
import { ENABLE_LIGHTBOX } from "../../../constants.ts";
import * as interfaces from "../../../lib/interfaces.ts";
import { filePath, getFirstImage } from "../../../lib/blog-helpers";
import Caption from "../Caption.astro";
// import GLightbox from 'glightbox';


export interface Props {
	block: interfaces.Block;
  setId?:boolean;
}

const { block, setId=true } = Astro.props;

let image = "";
if (block.NImage?.External) {
	image = block.NImage.External.Url;
} else if (block.NImage?.File) {
	image = filePath(new URL(block.NImage.File.OptimizedUrl));
}

const plainTextCaption = block.NImage?.Caption.map((richText) => richText.PlainText).join(' ');

---

<figure class="flex max-w-full mx-auto mt-1" id={setId?block.Id:undefined}>
  {
      image && (
          <div class="mx-auto min-w-0">
              <div>
                  {ENABLE_LIGHTBOX ? (
                      <a data-type="image" href={image} class="mediaglightbox" data-description={plainTextCaption} aria-label={`Open image with alt ${plainTextCaption} in lightbox`}>
                          <img class="imagemedia block max-w-full rounded-md"  loading={getFirstImage()?"eager":"lazy"} src={image} alt={plainTextCaption}/>
                      </a>
                  ) : (
                      <img class="imagemedia block max-w-full rounded-md" src={image} loading={getFirstImage()?"eager":"lazy"} alt={plainTextCaption}/>
                  )}
              </div>
              <Caption richTexts={block.NImage.Caption} block={block} as="figcaption" />
          </div>
      )
  }
</figure>
